* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4D4D4D;
    position: absolute;
    font-family: sans-serif;
    font-family: 'Red Rose', cursive;
}

#previouse{
    margin-left: 10px;
}

#next{
    margin-left: 50px;
}

#container{
    width: calc(252px * 5);
    height: 157px;
    white-space: nowrap;
    overflow: auto;
}

::-webkit-scrollbar {									
	width: 12px;
	height: 12px;
	background: #4D4D4D
}
 
::-webkit-scrollbar-thumb {								
	border: solid 0 transparent;
	border-right-width: 4px;
	border-radius: 5px;
	border-top-right-radius: 9px 5px;
	border-bottom-right-radius: 9px 5px;
	box-shadow: inset 0 0 0 6px black;
}

